<h3 style="margin-bottom: 15px;">EOD Report</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <table border="0" style="width: 100%">
                    <tr>
                        <td style="width: 29%">
                            <form>
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Start SI No.</b></span>
                                    <input type="text" class="form-control" id="inpStartSINumber" placeholder="Start SI Number...">
                                </div>
                            </form>
                        </td>
                        <td style="width: 1%"></td>
                        <td style="width: 29%">
                            <form>
                                <div class="input-group">
                                    <span class="input-group-addon"><b>End SI No.</b></span>
                                    <input type="text" class="form-control" id="inpEndSINumber" placeholder="End SI Number...">
                                </div>
                            </form>
                        </td>
                        <td style="width: 1%"></td>
                        <td style="width: 40%" align="right">
                            <button class="btn btn-primary" onclick="btnGenerateOnclick()">Generate</button>
                            <button class="btn btn-success" onclick="btnDownloadCSVOnclick()">Download CSV</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="reportFlexGrid"></div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="btn-group col-md-7" id="reportNavigationPageGrid">
                <button type="button" class="btn btn-default border-custom" id="btnReportMoveToFirstPageGrid">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </button>
                <button type="button" class="btn btn-default border-custom" id="btnReportMoveToPreviousPageGrid">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnReportCurrentPageGrid"></button>
                <button type="button" class="btn btn-default border-custom" id="btnReportMoveToNextPageGrid">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                <button type="button" class="btn btn-default border-custom" id="btnReportMoveToLastPageGrid">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/wijmo/scripts")
<script type="text/javascript">
    // Global Variables
    var reportObservableArray = new wijmo.collections.ObservableArray;
    var reportCollectionView = new wijmo.collections.CollectionView(reportObservableArray);
    var reportFlexGrid = new wijmo.grid.FlexGrid('#reportFlexGrid');
    var reportFlexGridFilter = new wijmo.grid.filter.FlexGridFilter(reportFlexGrid);
    var btnReportMoveToFirstPageGrid = document.getElementById('btnReportMoveToFirstPageGrid');
    var btnReportMoveToPreviousPageGrid = document.getElementById('btnReportMoveToPreviousPageGrid');
    var btnReportMoveToNextPageGrid = document.getElementById('btnReportMoveToNextPageGrid');
    var btnReportMoveToLastPageGrid = document.getElementById('btnReportMoveToLastPageGrid');
    var btnReportCurrentPageGrid = document.getElementById('btnReportCurrentPageGrid');

    // Initialize Components
    function initializeComponents() {
        createReportFlexGrid();
    }

    // Get Data
    function getReportData() {
        reportObservableArray = new wijmo.collections.ObservableArray;

        $.ajax({
            url: '/',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (results) {
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        reportObservableArray.push({

                        });
                    }
                }
            }
        });

        return reportObservableArray;
    }

    // Create Flex Grid
    function createReportFlexGrid() {
        reportCollectionView = new wijmo.collections.CollectionView(getReportData());
        reportCollectionView.canFilter = true;
        reportCollectionView.pageSize = 15;

        reportCollectionView.collectionChanged.addHandler(function (sender, args) {
            updateReportNavigationButtons();
        });

        reportCollectionView.currentChanged.addHandler(function (sender, args) {
            updateReportDetailsFlexGridSelection();
        });

        reportFlexGrid.dispose();
        reportFlexGrid = new wijmo.grid.FlexGrid('#reportFlexGrid');
        reportFlexGrid.initialize({
            columns: [
                {
                    "header": "Invoice Id",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Invoice Number",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Netsuite Internal Id",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Customer Name",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Price Net of Discount",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Quantity",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Tax Code Internal Id",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Tax Code",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Location Id",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Store Id",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Subsidary Id",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Subsidary Name",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Sales Date",
                    "binding": "",
                    "allowSorting": true,
                    "width": 100
                }
            ],
            autoGenerateColumns: false,
            itemsSource: reportCollectionView,
            isReadOnly: true,
            autoSizeMode: wijmo.grid.AutoSizeMode.Both,
            allowDragging: wijmo.grid.AllowDragging.None,
            selectionMode: wijmo.grid.SelectionMode.Row
        });

        reportFlexGrid.trackChanges = true;

        reportFlexGridFilter = new wijmo.grid.filter.FlexGridFilter(reportFlexGrid);
        reportFlexGridFilter.defaultFilterType = wijmo.grid.filter.FilterType.Both;

        updateReportNavigationButtons();

        btnReportMoveToFirstPageGrid.addEventListener('click', function () {
            reportCollectionView.moveToFirstPage();
            updateReportNavigationButtons();
        });

        btnReportMoveToPreviousPageGrid.addEventListener('click', function () {
            reportCollectionView.moveToPreviousPage();
            updateReportNavigationButtons();
        });

        btnReportMoveToNextPageGrid.addEventListener('click', function () {
            reportCollectionView.moveToNextPage();
            updateReportNavigationButtons();
        });

        btnReportMoveToLastPageGrid.addEventListener('click', function () {
            reportCollectionView.moveToLastPage();
            updateReportNavigationButtons();
        });
    }

    // Update Navigation Buttons
    function updateReportNavigationButtons() {
        if (reportCollectionView.pageSize <= 0) {
            document.getElementById('reportNavigationPageGrid').style.display = 'none';
            return;
        }
        document.getElementById('reportNavigationPageGrid').style.display = 'block';
        if (reportCollectionView.pageIndex === 0) {
            btnReportMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
            btnReportMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
            btnReportMoveToNextPageGrid.removeAttribute('disabled');
            btnReportMoveToLastPageGrid.removeAttribute('disabled');
        } else if (reportCollectionView.pageIndex === (reportCollectionView.pageCount - 1)) {
            btnReportMoveToFirstPageGrid.removeAttribute('disabled');
            btnReportMoveToPreviousPageGrid.removeAttribute('disabled');
            btnReportMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            btnReportMoveToLastPageGrid.setAttribute('disabled', 'disabled');
        } else {
            btnReportMoveToFirstPageGrid.removeAttribute('disabled');
            btnReportMoveToPreviousPageGrid.removeAttribute('disabled');
            btnReportMoveToNextPageGrid.removeAttribute('disabled');
            btnReportMoveToLastPageGrid.removeAttribute('disabled');
        }
        btnReportCurrentPageGrid.innerHTML = (reportCollectionView.pageIndex + 1) + ' / ' + reportCollectionView.pageCount;
    }

    // Generate
    function btnGenerateOnclick() {

    }

    // Download CSV File
    function btnDownloadCSVOnclick() {

    }

    // On-Load Page
    window.onload = function () {
        initializeComponents();
    }
</script>